<% @room.errors.full_messages.each do |msg| %>
  <div><%= msg %></div>
<% end %>
    <%= form_for @room do |f| %>
    <div class = under_line>
        <li><%= f.label :物件名 %></li>
        <li><%= f.text_field :name %></li>

        <li><%= f.label :賃料 %></li>
        <li><%= f.text_field :price %>円</li>

        <li><%= f.label :住所 %></li>
        <li><%= f.text_field :address %></li>

        <li><%= f.label :築年数 %></li>
        <li><%= f.text_field :age %>年</li>

        <li><%= f.label :備考 %></li>
        <li><%= f.text_area :comment %></li>
    </div>

        <%= f.fields_for :places do |p| %>
            <h3>最寄り駅<%= p.index + 1 %></h3>
            <li><%= p.label :路線名 %></li>
            <li><%= p.text_field :train %></li>

            <li><%= p.label :駅名 %></li>
            <li><%= p.text_field :station %></li>

            <li><%= p.label :徒歩分数 %></li>
            <li><%= p.text_field :walk %>分</li>
        <% end %>
        <li><%= f.submit %></li>
      <% end %>
